<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="adminhtml">
            <module name="My_News" before="Magento_Backend" />
        </route>

        <route id="mynews" frontName="mynews">
            <module name="My_News" />
        </route>
    </router>
</config>